.contact {
    background-color: var(--section-light-contrast-bg-color);
    
    display        : flex  ;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.contact form {
    background-color: white;
    
    display        : flex  ;
    flex-direction : column;
    align-items    : center;
    justify-content: center;

    width     : 600px;
    max-width : 100% ;
    padding   : 30px ;
    margin-top: 30px ;

    border-radius: 15px               ;
    box-shadow   : var(--box-shadow-1);

    gap: 20px;
}

.contact label {
    width: 100%;
}

.contact input,
.contact textarea {
    width  : 100%;
    padding: 1rem;

    font-size  : 1rem                       ;
    font-family: "Roboto", Arial, sans-serif;

    outline      : none                          ;
    border       : 1px solid rgb(200, 200, 200);
    border-radius: 10px                          ;

    transition: all .3s ease-in-out;
}

.contact input:focus,
.contact textarea:focus {
    border: 1px solid var(--secondary-color_0);
}

.contact .btn {
    width: 100%;

    border : none;
    padding: 12px;

    font-family: inherit;
    font-size  : 1rem   ;
}

.contact .btn:hover {
    transform: scale(1.1);
}