footer {
    background-color: var(--primary-color_0);
    color           : white               ;

    width  : 100%;
    padding: 40px;

    display        : flex  ;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.footer-content {
    width: 100%;

    display              : grid                                ;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap                  : 30px                                ;
    
    padding-bottom: 40px;
    margin-bottom : 20px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer h3 { font-size: 1.5rem; }

footer h4 { 
    font-size    : 1.1rem;
    margin-bottom: 10px  ;
}

footer p, footer li {
    opacity    : .8     ;
    font-size  : .9rem  ;
    font-family: inherit;
}

footer li { list-style: none; }

footer a {
    text-decoration: none ;
    color          : white;
}

footer li:hover {
    opacity: 1;

    text-decoration          : underline               ;
    text-decoration-color    : var(--secondary-color_2);
    text-decoration-thickness: 2px                     ;
    text-underline-offset    : 4px                     ;
}

footer .copyright {
    display        : flex  ;
    flex-direction : column;
    align-items    : center;
    justify-content: center;

    width: 100%;
    gap  : 10px;
}

footer .copyright p { font-size: .8rem; }

footer .copyright a { font-weight: 600; }
