.gallery {
    background-color: var(--section-light-contrast-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.gallery h2 {
    font-size: 2rem;
    color: var(--primary-color_-1);
}

.gallery .slideshow {
    display: flex;
    position: relative;
    max-width: 100%;
    width: 800px;
    height: 450px;
    margin: 0 auto;
}

.gallery .slides {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}

.gallery img {
    width: 100%;
    object-fit: center;
}

.gallery button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: .3s ease;
}

.gallery button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.gallery .pre {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.gallery .next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.fade {
    animation-name: fade;
    animation-duration: .5s;
}

@keyframes fade {
    from {opacity: .4;}
    to   {opacity: 1 ;}
}

@media screen and (max-width: 700px) {
    .gallery .slideshow {
        height: 300px;
    }
}

@media screen and (max-width: 300px) {
    .gallery .slideshow {
        height: 200px;
    }
}