.hero {
    width : 100% ;
    height: 100vh;

    position: relative;

    display        : flex  ;
    align-items    : center;
    justify-content: center;
    text-align     : center;

    background: url('../assets/hero-bg.jpg') center/cover no-repeat;
}

.hero .overlay {
    position: absolute;
    top     : 0       ;
    left    : 0       ;

    width : 100%;
    height: 100%;

    background-color: var(--primary-color_0);
    opacity         : 0.75                  ;
}

.hero .container {
    max-width      : 800px ;
    z-index        : 1     ;
    justify-content: center;
}

.hero h1 {
    margin-bottom: 1rem;

    font-size     : 2.5rem   ;
    line-height   : 1.1      ;
    text-transform: uppercase;
    color         : white    ;
}

.hero h2 {
    margin-bottom: 1rem;

    font-size  : 1.5rem ;
    font-weight: 400    ;
    color      : #f1f1f1;
}

.hero p {
    font-size    : 1.1rem;
    color        : white ;
    margin-bottom: 2rem  ;
}

.hero .btn {
    margin    : 0 auto            ;
    box-shadow: var(--box -shadow);
}

@media screen and (max-width: 700px) {
    .hero h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero h2 {
        font-size: 1.1rem;
    }

    .hero p {
        font-size: 1rem;
    }
}