.location {
    background-color: white;
    
    display        : flex  ;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.location .container {
    background-color: var(--primary-color_9);

    width : 100%  ;
    height: 400px ;
    margin: 30px 0;

    border-radius: 20px               ;
    box-shadow   : var(--box-shadow-1);

    position: relative;
    overflow: hidden  ;

    display        : flex  ;
    align-items    : center;
    justify-content: center;

    font-size  : 2rem                  ;
    font-weight: 700                   ;
    color      : var(--primary-color_6);
    user-select: none                  ;
}

.location iframe {
    width : 100%;
    height: 100%;

    position: absolute;
    top     : 0       ;
    left    : 0       ;
}

